Repository settivishal/Zine, pull requests merged in 2025-03, with the labels that each got.

#109 Added unit test case for jwt_utils - MAIN_COPY
  backend/utils/jwt_utils_test.go
Labels: Backend

#136 [ENHANCEMENT] Googla Oauth and unit tests - MAIN_COPY
  backend/.env.example
  backend/controllers/social_controller.go
  backend/services/auth_service.go
  backend/services/social_service.go
  backend/utils/jwt_utils_test.go
  backend/utils/response_utils_test.go
Labels: enhancement, Backend

#141 [FEATURE] REDIS setup and logout fix - MAIN_COPY
  backend/.env.example
  backend/go.mod
  backend/go.sum
  backend/middleware/auth_middleware.go
  backend/utils/jwt_utils.go
Labels: Backend

#161 [FEATURE] Unit tests for Controllers - MAIN_COPY
  backend/controllers/auth_controller_test.go
  backend/controllers/social_controller_test.go
  backend/controllers/swagger_controller_test.go
  backend/controllers/tags_controller_test.go
  backend/controllers/user_controller_test.go
Labels: Backend

#180 Forgot Password, tags , cypress setup - main_copy
  frontend/cypress/e2e/login.cy.js
  frontend/cypress/e2e/test1.cy.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/Forgot/page.js
  frontend/src/app/Signin/signin.jsx
  frontend/src/app/home/page.js
  frontend/src/app/login/page.js
  frontend/src/app/reset-password/page.js
  frontend/src/components/CalendarWidget.jsx
  frontend/src/components/ProfileDropDown.jsx
  frontend/src/components/tags.jsx
  frontend/src/contexts/authcontext.js
Labels: Frontend

#178 [FEATURE] Unit test for token utils and Sprint2.md - MAIN_COPY
  Sprint2.md
  backend/utils/token_utils_test.go
Labels: Backend

#208 ENHANCEMENT - Frontend Refactoring
  frontend/babel.config.js
  frontend/jest.config.js
  frontend/next.config.mjs
  frontend/package.json
  frontend/public/profile.jpg
  frontend/public/profile2.jpg
  frontend/public/zine.png
  frontend/src/__tests__/ActivityGrid.test.jsx
  frontend/src/__tests__/Navbar.test.jsx
  frontend/src/__tests__/ProfileDropDown.test.jsx
  frontend/src/__tests__/ProfilePicture.test.jsx
  frontend/src/__tests__/Tags.test.jsx
  frontend/src/__tests__/UpdateBio.test.jsx
  frontend/src/__tests__/UpdatePassword.test.jsx
  frontend/src/__tests__/UpdateUsername.test.jsx
  frontend/src/app/Modal/page.jsx
  frontend/src/app/Profile/page.jsx
  frontend/src/app/Signin/signin.jsx
  frontend/src/app/Signin/signup.jsx
  frontend/src/app/forgot/page.jsx
  frontend/src/app/home/page.jsx
  frontend/src/app/landing/page.jsx
  frontend/src/app/login/page.jsx
  frontend/src/app/page.js
  frontend/src/app/page.jsx
  frontend/src/app/reset-password/page.jsx
  frontend/src/components/Banner.jsx
  frontend/src/components/Base.jsx
  frontend/src/components/Button.jsx
  frontend/src/components/CTABanner.jsx
  frontend/src/components/Calendar.jsx
  frontend/src/components/CenteredFooter.jsx
  frontend/src/components/Footer.jsx
  frontend/src/components/FooterCopyright.jsx
  frontend/src/components/FooterIconList.jsx
  frontend/src/components/Hero.jsx
  frontend/src/components/HeroOneButton.jsx
  frontend/src/components/Logo.jsx
  frontend/src/components/NavbarTwoColumns.jsx
  frontend/src/components/ProfileDropDown.jsx
  frontend/src/components/ProfilePicture.jsx
  frontend/src/components/Section.jsx
  frontend/src/components/UpdateBio.jsx
  frontend/src/components/UpdatePassword.jsx
  frontend/src/components/UpdateUsername.jsx
  frontend/src/components/VerticalFeatureRow.jsx
  frontend/src/components/VerticalFeatures.jsx
  frontend/src/components/tags.jsx
  frontend/src/components/tags.test.jsx
Labels: Frontend

#229 ENAHANCEMENT - Google Auth Login Redirection - MAIN_COPY
  backend/controllers/social_controller.go
  backend/services/social_service.go
Labels: Backend

#238 ENHANCEMENT - Setup Redis Cloud - MAIN_COPY
  backend/.env.example
  backend/.env.vault
  backend/config/config.go
  backend/go.mod
  backend/go.sum
  backend/middleware/auth_middleware.go
  backend/services/auth_service.go
  backend/utils/jwt_utils.go
Labels: Backend

#248 [FEATURE/BUG/ENHANCEMENT] Assigned Bug fixes ,enhancements and sprint3 features - <main_copy>
  frontend/helpers/decrypt.js
  frontend/helpers/handleGoogleLogin.js
  frontend/package.json
  frontend/public/images/alps.jpg
  frontend/public/images/beach.jpg
  frontend/src/app/Modal/page.jsx
  frontend/src/app/Signin/signin.jsx
  frontend/src/app/Signin/signup.jsx
  frontend/src/app/auth-success/page.js
  frontend/src/app/forgot/page.jsx
  frontend/src/app/home/page.jsx
  frontend/src/app/landing/page.jsx
  frontend/src/app/login/page.jsx
  frontend/src/app/reset-password/page.jsx
  frontend/src/components/BlogList.jsx
  frontend/src/components/Calendar.jsx
  frontend/src/components/ProfileDropDown.jsx
  frontend/src/components/googleLoginButton.jsx
  frontend/src/components/tags.jsx
  frontend/src/hooks/authcontext.js
  frontend/src/hooks/useProfile.js
  frontend/src/middleware.js
Labels: Frontend

#256 BUG - Increased Expiry Time - MAIN_COPY
  backend/services/auth_service.go
Labels: bug, Backend

#257 ENHANCEMENT - Update Tag IDs in Blogs Database and get Tags by IDs - MAIN_COPY
  backend/controllers/blog_controller.go
  backend/controllers/tags_controller.go
  backend/database/blog.go
  backend/database/tag.go
  backend/routes/routes.go
  backend/services/blog_service.go
  backend/services/tag_service.go
  backend/utils/schema.go
Labels: Backend

#262 BUG - Duplication while creating Blogs
  backend/database/blog.go
  backend/services/blog_service.go
Labels: bug, Backend

#264 ENHANCEMENT - Get Blogs Pagination - MAIN_COPY
  backend/database/blog.go
  backend/database/tag.go
  backend/services/blog_service.go
  backend/services/tag_service.go
  backend/utils/schema.go
Labels: Backend

#268 ENHANCEMENT - Swagger Documentation - MAIN_COPY
  backend/controllers/auth_controller.go
  backend/controllers/blog_controller.go
  backend/controllers/social_controller.go
  backend/controllers/swagger_controller.go
  backend/controllers/tags_controller.go
  backend/controllers/user_controller.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Labels: documentation, Backend

#273 BUG - Method changes in Get Tags by IDs - MAIN_COPY
  backend/controllers/tags_controller.go
  backend/controllers/user_controller.go
  backend/database/tag.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/routes/routes.go
Labels: Backend

#281 ENHANCEMENT - Controllers Unit Tests - MAIN_COPY
  backend/controllers/blog_controller_test.go
  backend/controllers/tags_controller_test.go
  backend/controllers/user_controller_test.go
Labels: Backend, Test
