Repository settivishal/Zine, pull requests merged in 2025-04, with the labels that each got.

#297 Sprint 3 documentation
  Sprint3.md
Labels: documentation

#298 Accomplishments Added in Sprint3.md
  Sprint3.md
Labels: documentation

#305 Unit tests : shiva -> maincopy
  Sprint3.md
  frontend/helpers/handleGoogleLogin.js
  frontend/src/__tests__/Banner.test.jsx
  frontend/src/__tests__/Base.test.jsx
  frontend/src/__tests__/BlogList.test.jsx
  frontend/src/__tests__/CenteredFooter.test.jsx
  frontend/src/__tests__/Footer.test.jsx
  frontend/src/__tests__/Hero.test.jsx
  frontend/src/__tests__/Navbar.test.jsx
  frontend/src/__tests__/ProfileDropDown.test.jsx
  frontend/src/__tests__/Section.test.jsx
  frontend/src/__tests__/Tags.test.jsx
  frontend/src/__tests__/UpdateBio.test.jsx
  frontend/src/__tests__/UpdatePassword.test.jsx
  frontend/src/__tests__/UpdateUserCreds.test.jsx
  frontend/src/__tests__/UpdateUsername.test.jsx
  frontend/src/__tests__/VerticalFeatures.test.jsx
  frontend/src/__tests__/googleLoginButton.test.jsx
  frontend/src/app/Profile/page.jsx
  frontend/src/app/blogs/[id]/page.jsx
  frontend/src/app/blogs/page.jsx
  frontend/src/components/Banner.jsx
  frontend/src/components/Base.jsx
  frontend/src/components/BlogList.jsx
  frontend/src/components/ProfileDropDown.jsx
  frontend/src/components/UpdateBio.jsx
  frontend/src/components/VerticalFeatures.jsx
  frontend/src/components/tags.jsx
  frontend/src/hooks/tagsContext.js
  frontend/src/middleware.js
Labels: Frontend

#339 FEATURE - Get Blog by Date - MAIN_COPY
  backend/controllers/blog_controller.go
  backend/database/blog.go
  backend/routes/routes.go
  backend/services/blog_service.go
  backend/utils/schema.go
Labels: Backend

#345 FEATURE - Get Blogs by Tag IDs - MAIN_COPY
  backend/controllers/blog_controller.go
  backend/database/blog.go
  backend/routes/routes.go
  backend/services/blog_service.go
Labels: Backend

#356 ENHANCEMENT - Swagger Implementation - MAIN_COPY
  backend/controllers/blog_controller.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Labels: documentation, Backend

#358 Changed blog empty response - MAIN_COPY
  backend/services/blog_service.go
  backend/utils/schema.go
Labels: Backend

#361 ENHANCEMENT - Unit Test Cases for Controllers and Services - MAIN_COPY
  backend/controllers/blog_controller_test.go
  backend/services/blog_service.go
  backend/services/blog_service_test.go
Labels: Backend, Test

#370 FEATURE - Delete Profile Pic - MAIN_COPY
  backend/.env.vault
  backend/controllers/user_controller.go
  backend/database/blog.go
  backend/routes/routes.go
  backend/services/user_service.go
  backend/utils/schema.go
Labels: Backend

#407 Register API fixed in Production
  backend/Dockerfile
  frontend/src/components/Navbar.jsx
Labels: Backend
